
# .github/workflows/main.yml

name: Scrape Naver News

on:
  # 매시 정각에 스크립트를 실행 (UTC 기준)
  # 한국 시간(KST)은 UTC+9 이므로, 00:00 UTC는 09:00 KST 입니다.
  # 매시간 실행되도록 설정합니다.
  schedule:
    - cron: '0 * * * *'
  # 수동으로 실행할 수 있도록 workflow_dispatch 추가
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 저장소의 코드를 가져옵니다.
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Python 환경을 설정합니다.
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.4' # 원하는 파이썬 버전

      # 3. 필요한 라이브러리를 설치합니다.
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Python 스크립트를 실행합니다.
      - name: Run Python script
        env:
          # GitHub Secrets에 저장한 값을 환경 변수로 스크립트에 전달합니다.
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python naver_news_telegram_bot.py
